[submodule "vim/vim.symlink/bundle/raimondi-delimitMate"]
	path = vim/vim.symlink/bundle/raimondi-delimitMate
	url = https://github.com/Raimondi/delimitMate
[submodule "vim/vim.symlink/bundle/godlygeek-csapprox"]
	path = vim/vim.symlink/bundle/godlygeek-csapprox
	url = https://github.com/godlygeek/csapprox.git
[submodule "vim/vim.symlink/bundle/vim-scripts-AnsiEsc"]
	path = vim/vim.symlink/bundle/vim-scripts-AnsiEsc
	url = https://github.com/vim-scripts/AnsiEsc.vim.git
[submodule "vim/vim.symlink/bundle/skwp-vim-ruby-conque"]
	path = vim/vim.symlink/bundle/skwp-vim-ruby-conque
	url = https://github.com/skwp/vim-ruby-conque
[submodule "vim/vim.symlink/bundle/kogakure-vim-sparkup"]
	path = vim/vim.symlink/bundle/kogakure-vim-sparkup
	url = https://github.com/kogakure/vim-sparkup.git
[submodule "vim/vim.symlink/bundle/tomtom-tcomment_vim"]
	path = vim/vim.symlink/bundle/tomtom-tcomment_vim
	url = https://github.com/tomtom/tcomment_vim.git
[submodule "vim/vim.symlink/bundle/nelstrom-vim-markdown-preview"]
	path = vim/vim.symlink/bundle/nelstrom-vim-markdown-preview
	url = https://github.com/nelstrom/vim-markdown-preview
[submodule "vim/vim.symlink/bundle/scrooloose-nerdtree"]
	path = vim/vim.symlink/bundle/scrooloose-nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/vim.symlink/bundle/jistr-vim-nerdtree-tabs"]
	path = vim/vim.symlink/bundle/jistr-vim-nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git
[submodule "vim/vim.symlink/bundle/vim-scripts-AutoTag"]
	path = vim/vim.symlink/bundle/vim-scripts-AutoTag
	url = https://github.com/vim-scripts/AutoTag.git
[submodule "vim/vim.symlink/bundle/vim-scripts-IndexedSearch"]
	path = vim/vim.symlink/bundle/vim-scripts-IndexedSearch
	url = https://github.com/vim-scripts/IndexedSearch
[submodule "vim/vim.symlink/bundle/scrooloose-syntastic"]
	path = vim/vim.symlink/bundle/scrooloose-syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/vim.symlink/bundle/sjbach-lusty"]
	path = vim/vim.symlink/bundle/sjbach-lusty
	url = https://github.com/sjbach/lusty.git
[submodule "vim/vim.symlink/bundle/tjennings-git-grep-vim"]
	path = vim/vim.symlink/bundle/tjennings-git-grep-vim
	url = https://github.com/tjennings/git-grep-vim
[submodule "vim/vim.symlink/bundle/skwp-greplace"]
	path = vim/vim.symlink/bundle/skwp-greplace
	url = https://github.com/skwp/greplace.vim
[submodule "vim/vim.symlink/bundle/tpope-vim-repeat"]
	path = vim/vim.symlink/bundle/tpope-vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vim/vim.symlink/bundle/tpope-vim-surround"]
	path = vim/vim.symlink/bundle/tpope-vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/vim.symlink/bundle/tpope-vim-rails"]
	path = vim/vim.symlink/bundle/tpope-vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "vim/vim.symlink/bundle/vim-ruby-vim-ruby"]
	path = vim/vim.symlink/bundle/vim-ruby-vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "vim/vim.symlink/bundle/ecomba-vim-ruby-refactoring"]
	path = vim/vim.symlink/bundle/ecomba-vim-ruby-refactoring
	url = https://github.com/ecomba/vim-ruby-refactoring
[submodule "vim/vim.symlink/bundle/vim-scripts-matchit.zip"]
	path = vim/vim.symlink/bundle/vim-scripts-matchit.zip
	url = https://github.com/vim-scripts/matchit.zip.git
[submodule "vim/vim.symlink/bundle/skwp-vim-indexed-search"]
	path = vim/vim.symlink/bundle/skwp-vim-indexed-search
	url = https://github.com/skwp/vim-indexed-search
[submodule "vim/vim.symlink/bundle/tpope-vim-endwise"]
	path = vim/vim.symlink/bundle/tpope-vim-endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "vim/vim.symlink/bundle/skwp-vim-html-escape"]
	path = vim/vim.symlink/bundle/skwp-vim-html-escape
	url = https://github.com/skwp/vim-html-escape
[submodule "vim/vim.symlink/bundle/Shougo-neocomplcache"]
	path = vim/vim.symlink/bundle/Shougo-neocomplcache
	url = https://github.com/Shougo/neocomplcache.git
[submodule "vim/vim.symlink/bundle/skwp-vim-colors-solarized"]
	path = vim/vim.symlink/bundle/skwp-vim-colors-solarized
	url = https://github.com/skwp/vim-colors-solarized
[submodule "vim/vim.symlink/bundle/tpope-vim-pathogen"]
	path = vim/vim.symlink/bundle/tpope-vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "vim/vim.symlink/bundle/drewolson-ruby_focused_unit_test_vim"]
	path = vim/vim.symlink/bundle/drewolson-ruby_focused_unit_test_vim
	url = https://github.com/drewolson/ruby_focused_unit_test_vim
[submodule "vim/vim.symlink/bundle/tpope-vim-fugitive"]
	path = vim/vim.symlink/bundle/tpope-vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim/vim.symlink/bundle/skwp-vim-git-grep-rails-partial"]
	path = vim/vim.symlink/bundle/skwp-vim-git-grep-rails-partial
	url = https://github.com/skwp/vim-git-grep-rails-partial
[submodule "vim/vim.symlink/bundle/tpope-vim-unimpaired"]
	path = vim/vim.symlink/bundle/tpope-vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired
[submodule "vim/vim.symlink/bundle/tpope-vim-git"]
	path = vim/vim.symlink/bundle/tpope-vim-git
	url = https://github.com/tpope/vim-git
[submodule "vim/vim.symlink/bundle/vim-scripts-lastpos"]
	path = vim/vim.symlink/bundle/vim-scripts-lastpos
	url = https://github.com/vim-scripts/lastpos.vim
[submodule "vim/vim.symlink/bundle/sjl-gundo"]
	path = vim/vim.symlink/bundle/sjl-gundo
	url = https://github.com/sjl/gundo.vim
[submodule "vim/vim.symlink/bundle/vim-scripts-sudo"]
	path = vim/vim.symlink/bundle/vim-scripts-sudo
	url = https://github.com/vim-scripts/sudo.vim
[submodule "vim/vim.symlink/bundle/mileszs-ack"]
	path = vim/vim.symlink/bundle/mileszs-ack
	url = https://github.com/mileszs/ack.vim
[submodule "vim/vim.symlink/bundle/mattn-zencoding-vim"]
	path = vim/vim.symlink/bundle/mattn-zencoding-vim
	url = https://github.com/mattn/zencoding-vim
[submodule "vim/vim.symlink/bundle/nelstrom-vim-textobj-rubyblock"]
	path = vim/vim.symlink/bundle/nelstrom-vim-textobj-rubyblock
	url = https://github.com/nelstrom/vim-textobj-rubyblock
[submodule "vim/vim.symlink/bundle/kana-vim-textobj-user"]
	path = vim/vim.symlink/bundle/kana-vim-textobj-user
	url = https://github.com/kana/vim-textobj-user
[submodule "vim/vim.symlink/bundle/austintaylor-vim-indentobject"]
	path = vim/vim.symlink/bundle/austintaylor-vim-indentobject
	url = https://github.com/austintaylor/vim-indentobject
[submodule "vim/vim.symlink/bundle/vim-scripts-ZoomWin"]
	path = vim/vim.symlink/bundle/vim-scripts-ZoomWin
	url = https://github.com/vim-scripts/ZoomWin.git
[submodule "vim/vim.symlink/bundle/kana-vim-textobj-datetime"]
	path = vim/vim.symlink/bundle/kana-vim-textobj-datetime
	url = https://github.com/kana/vim-textobj-datetime
[submodule "vim/vim.symlink/bundle/kana-vim-textobj-entire"]
	path = vim/vim.symlink/bundle/kana-vim-textobj-entire
	url = https://github.com/kana/vim-textobj-entire
[submodule "vim/vim.symlink/bundle/mattn-gist-vim"]
	path = vim/vim.symlink/bundle/mattn-gist-vim
	url = https://github.com/mattn/gist-vim
[submodule "vim/vim.symlink/bundle/godlygeek-tabular"]
	path = vim/vim.symlink/bundle/godlygeek-tabular
	url = https://github.com/godlygeek/tabular
[submodule "vim/vim.symlink/bundle/AndrewRadev-splitjoin"]
	path = vim/vim.symlink/bundle/AndrewRadev-splitjoin
	url = https://github.com/AndrewRadev/splitjoin.vim
[submodule "vim/vim.symlink/bundle/vim-scripts-argtextobj"]
	path = vim/vim.symlink/bundle/vim-scripts-argtextobj
	url = https://github.com/vim-scripts/argtextobj.vim
[submodule "vim/vim.symlink/bundle/bootleq-vim-textobj-rubysymbol"]
	path = vim/vim.symlink/bundle/bootleq-vim-textobj-rubysymbol
	url = https://github.com/bootleq/vim-textobj-rubysymbol
[submodule "vim/vim.symlink/bundle/nathanaelkane-vim-indent-guides"]
	path = vim/vim.symlink/bundle/nathanaelkane-vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides
[submodule "vim/vim.symlink/bundle/tpope-vim-haml"]
	path = vim/vim.symlink/bundle/tpope-vim-haml
	url = https://github.com/tpope/vim-haml
[submodule "vim/vim.symlink/bundle/claco-jasmine"]
	path = vim/vim.symlink/bundle/claco-jasmine
	url = https://github.com/claco/jasmine.vim
[submodule "vim/vim.symlink/bundle/kana-vim-textobj-function"]
	path = vim/vim.symlink/bundle/kana-vim-textobj-function
	url = https://github.com/kana/vim-textobj-function
[submodule "vim/vim.symlink/bundle/kchmck-vim-coffee-script"]
	path = vim/vim.symlink/bundle/kchmck-vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script
[submodule "vim/vim.symlink/bundle/wavded-vim-stylus"]
	path = vim/vim.symlink/bundle/wavded-vim-stylus
	url = https://github.com/wavded/vim-stylus
[submodule "vim/vim.symlink/bundle/vim-scripts-Vim-R-plugin"]
	path = vim/vim.symlink/bundle/vim-scripts-Vim-R-plugin
	url = https://github.com/vim-scripts/Vim-R-plugin
[submodule "vim/vim.symlink/bundle/kien-ctrlp"]
	path = vim/vim.symlink/bundle/kien-ctrlp
	url = https://github.com/kien/ctrlp.vim
[submodule "vim/vim.symlink/bundle/majutsushi-tagbar"]
	path = vim/vim.symlink/bundle/majutsushi-tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "vim/vim.symlink/bundle/kana-vim-arpeggio"]
	path = vim/vim.symlink/bundle/kana-vim-arpeggio
	url = https://github.com/kana/vim-arpeggio
[submodule "vim/vim.symlink/bundle/chrisbra-color_highlight"]
	path = vim/vim.symlink/bundle/chrisbra-color_highlight
	url = https://github.com/chrisbra/color_highlight.git
[submodule "vim/vim.symlink/bundle/vim-scripts-camelcasemotion"]
	path = vim/vim.symlink/bundle/vim-scripts-camelcasemotion
	url = https://github.com/vim-scripts/camelcasemotion.git
[submodule "vim/vim.symlink/bundle/garbas-vim-snipmate"]
	path = vim/vim.symlink/bundle/garbas-vim-snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "vim/vim.symlink/bundle/MarcWeber-vim-addon-mw-utils"]
	path = vim/vim.symlink/bundle/MarcWeber-vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "vim/vim.symlink/bundle/tomtom-tlib_vim"]
	path = vim/vim.symlink/bundle/tomtom-tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "vim/vim.symlink/bundle/honza-snipmate-snippets"]
	path = vim/vim.symlink/bundle/honza-snipmate-snippets
	url = https://github.com/honza/snipmate-snippets.git
[submodule "vim/vim.symlink/bundle/skwp-vim-conque"]
	path = vim/vim.symlink/bundle/skwp-vim-conque
	url = https://github.com/skwp/vim-conque
[submodule "vim/vim.symlink/bundle/gregsexton-gitv"]
	path = vim/vim.symlink/bundle/gregsexton-gitv
	url = https://github.com/gregsexton/gitv
[submodule "vim/vim.symlink/bundle/briandoll-change-inside-surroundings"]
	path = vim/vim.symlink/bundle/briandoll-change-inside-surroundings
	url = https://github.com/briandoll/change-inside-surroundings.vim.git
[submodule "vim/vim.symlink/bundle/timcharper-textile"]
	path = vim/vim.symlink/bundle/timcharper-textile
	url = https://github.com/timcharper/textile.vim.git
[submodule "vim/vim.symlink/bundle/vim-scripts-Specky"]
	path = vim/vim.symlink/bundle/vim-scripts-Specky
	url = https://github.com/vim-scripts/Specky.git
[submodule "vim/vim.symlink/bundle/tpope-vim-bundler"]
	path = vim/vim.symlink/bundle/tpope-vim-bundler
	url = https://github.com/tpope/vim-bundler
[submodule "vim/vim.symlink/bundle/tpope-vim-rake"]
	path = vim/vim.symlink/bundle/tpope-vim-rake
	url = https://github.com/tpope/vim-rake.git
[submodule "vim/vim.symlink/bundle/skwp-vim-easymotion"]
	path = vim/vim.symlink/bundle/skwp-vim-easymotion
	url = https://github.com/skwp/vim-easymotion
[submodule "vim/vim.symlink/bundle/groenewege-vim-less"]
	path = vim/vim.symlink/bundle/groenewege-vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule "vim/vim.symlink/bundle/mattn-webapi-vim"]
	path = vim/vim.symlink/bundle/mattn-webapi-vim
	url = https://github.com/mattn/webapi-vim.git
[submodule "vim/vim.symlink/bundle/astashov-vim-ruby-debugger"]
	path = vim/vim.symlink/bundle/astashov-vim-ruby-debugger
	url = https://github.com/astashov/vim-ruby-debugger
[submodule "vim/vim.symlink/bundle/aaronjensen-vim-sass-status"]
	path = vim/vim.symlink/bundle/aaronjensen-vim-sass-status
	url = https://github.com/aaronjensen/vim-sass-status.git
[submodule "vim/vim.symlink/bundle/skwp-vim-powerline"]
	path = vim/vim.symlink/bundle/skwp-vim-powerline
	url = https://github.com/skwp/vim-powerline.git
[submodule "vim/vim.symlink/bundle/briancollins-vim-jst"]
	path = vim/vim.symlink/bundle/briancollins-vim-jst
	url = https://github.com/briancollins/vim-jst
[submodule "vim/vim.symlink/bundle/pangloss-vim-javascript"]
	path = vim/vim.symlink/bundle/pangloss-vim-javascript
	url = https://github.com/pangloss/vim-javascript
[submodule "vim/vim.symlink/bundle/chrisbra-NrrwRgn"]
	path = vim/vim.symlink/bundle/chrisbra-NrrwRgn
	url = https://github.com/chrisbra/NrrwRgn
[submodule "vim/vim.symlink/bundle/skwp-YankRing"]
	path = vim/vim.symlink/bundle/skwp-YankRing
	url = https://github.com/skwp/YankRing.vim
[submodule "vim/vim.symlink/bundle/tpope-vim-abolish"]
	path = vim/vim.symlink/bundle/tpope-vim-abolish
	url = https://github.com/tpope/vim-abolish
[submodule "vim/vim.symlink/bundle/bbommarito-vim-slim"]
	path = vim/vim.symlink/bundle/bbommarito-vim-slim
	url = https://github.com/bbommarito/vim-slim.git
[submodule "vim/vim.symlink/bundle/jtratner-vim-flavored-markdown"]
	path = vim/vim.symlink/bundle/jtratner-vim-flavored-markdown
	url = https://github.com/jtratner/vim-flavored-markdown.git
[submodule "vim/vim.symlink/bundle/xsunsmile-showmarks"]
	path = vim/vim.symlink/bundle/xsunsmile-showmarks
	url = https://github.com/xsunsmile/showmarks.git
[submodule "vim/vim.symlink/bundle/digitaltoad-vim-jade"]
	path = vim/vim.symlink/bundle/digitaltoad-vim-jade
	url = git://github.com/digitaltoad/vim-jade.git
[submodule "vim/vim.symlink/bundle/tpope-vim-ragtag"]
	path = vim/vim.symlink/bundle/tpope-vim-ragtag
	url = https://github.com/tpope/vim-ragtag
[submodule "vim/vim.symlink/bundle/vim-scripts-TagHighlight"]
	path = vim/vim.symlink/bundle/vim-scripts-TagHighlight
	url = https://github.com/vim-scripts/TagHighlight.git
[submodule "vim/vim.symlink/bundle/itspriddle-vim-jquery"]
	path = vim/vim.symlink/bundle/itspriddle-vim-jquery
	url = https://github.com/itspriddle/vim-jquery.git
