sublime2/User/Package\ Control.sublime-settings
vim/vim.symlink/.netrwhist
.rbenv-version
*/.rbenv-version
vim/vim.symlink/vim.symlink
sublime2/Packages/TrailingSpaces/trailing_spaces.pyc
sublime2/User/Package Control.last-run
vim/vim.symlink/backups/*
